@tailwind base;
@tailwind components;
@tailwind utilities;


.drag{
  left: auto !important;
  top: 34% !important;
}
.blankDrag{
  left: auto !important;
  top: 58% !important;
}
.secDrag{
  left: auto !important;
  top: 60% !important;
}
.secDrag2{
  left: auto !important;
  top: 30% !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  height: 2px;
  background: gray;
}

.levelsScroll::-webkit-scrollbar {
  width: 5px;
}

.levelsScroll::-webkit-scrollbar-track{
  background: transparent;
}

.levelsScroll::-webkit-scrollbar-thumb{
  height: 2px;
  background: gray;
}


.myrotatey180 {
  transform:"rotateY(180deg)"
}
.preserve3d {
  transform-style:"preserve-3d"
}
.perspective {
  perspective:"1000px"
}

.backfacehidden {
  backface-visibility:"hidden"
}